################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.SpireOffice.Mvc/bin
/FSL.SpireOffice.Mvc/obj/Debug
/FSL.SpireOffice.Win/bin/Debug
/FSL.SpireOffice.Win/obj/Debug
/packages
*.user
